<p id = "logo">Animotion</p>

<div class = "vrm-container">
  <div>
      <button class="glow-on-hover" type="button">
         <img class="vrm-selector glow-on-hover" src="/../../../assets/images/test.png" alt="virtual model black haired boy with glasses"/>
      </button>
  </div>
  
  <div>
     <a href = "#" class = "thumbnail">
        <img class="vrm-selector glow-on-hover" src="/../../../assets/images/test.png" alt="virtual model black haired boy with glasses"/>
     </a>
  </div>
  
  <div>
     <a href = "#" class = "thumbnail">
        <img class="vrm-selector glow-on-hover" src="/../../../assets/images/test.png" alt="virtual model black haired boy with glasses"/>
     </a>
  </div>
</div>

<div class="container">
   <button type="button">Media Player</button>
   <button type="button">About us</button>
</div>